@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #102C57;
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#444cf7 1.4000000000000001px, #ffffff 1.4000000000000001px);
  background-size: 28px 28px;
}
